.container {
  background-color: var(--white);
  max-width: 370px;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}
.container img{
  max-width: 100%;
  border-radius:  .625rem;;
}
.container h1 {
  font-weight: 700;
}
.container p {
  font-size: 15px;
  color: var(--grayish-blue);
  font-weight: 400;
  letter-spacing: 0.2em;
}